/* static/css/admin.css */

#header {
    background: #15af19 !important;
    color: white;
}

#header #branding h1 a:link,
#header #branding h1 a:visited {
    color: #469d45;
}

#header #branding h1 a:hover {
    color: #469d45;
}

/* Optional: Add subtle font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}